

<body>
<h2>Welcome to Bookers
<span class="glyphicon glyphicon-book" aria-hidden="true"></span>
<strong>Bookers !!</strong>
</h2>
<p>in Bookers,<span class="glyphicon glyphicon-book" aria-hidden="true"></span></p>

<p>you can share and exchange your opinions , inpressions , and emotions</p>
<p>about various books!</p>

<span class="label label-info"><%= link_to 'Log in', new_user_session_path %></span><br>

<span class="label label-success"><%= link_to 'Sign Up', new_user_registration_path %></span>
</body>

